<?php /* @var $this HackathonWebsite_ProjectIdea_Block_Form */ ?>
<?php

/** @var $customer Mage_Customer_Model_Customer */
$customer = Mage::getSingleton('customer/session')->getCustomer();
$idea = $this->getProjectIdea();
?>
<div class="projectIdea-create">
    <div class="page-title">
        <h1><?php echo $this->__('Add Your Project Idea') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getUrl('*/*/post') ?>" method="post" id="form-validate" class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="title"><?php echo $this->__('Project Title:') ?></label>
            <div class="controls"><input type="text" name="title" id="title" value="<?php echo $this->escapeHtml($idea->getTitle()); ?>" /></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="submitter"><?php echo $this->__('Your Name:') ?></label>
            <div class="controls">
                <?php if ($customer->getId()) : ?>
                    <div class="control-pre-filled"><?php echo $customer->getName() ?></div>
                    <input type="hidden" name="submitter" value="<?php echo $customer->getName() ?>"/>
                <?php else : ?>
                    <input type="text" name="submitter" id="submitter" value="<?php echo $this->escapeHtml($idea->getSubmitter()); ?>" />
                <?php endif ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description"><?php echo $this->__('Description:') ?></label>
            <div class="controls"><textarea name="description" id="description"><?php echo $this->escapeHtml($idea->getDescription()); ?></textarea></div>
        </div>
        <div class="control-group">
            <div class="controls">
                <?php if($idea->getId()): ?>
                    <input type="submit" class="btn btn-primary" value="<?php echo $this->__('Edit Idea') ?>"/>
                <?php else: ?>
                    <input type="submit" class="btn btn-primary" value="<?php echo $this->__('Add Idea') ?>"/>
                <?php endif; ?>
            </div>
        </div>
        <input type="hidden" name="project_idea_id" value="<?php echo $idea->getId() ?>" />

    </form>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        //]]>
    </script>
</div>
